{% extends 'base.html' %}

{% block content %}
  <button onclick="do_ajax()">Send AJAX request to /api</button>
  <p id="result"></p>
  <script>
    function do_ajax() {
      fetch('/api')
        .then(function(response) {
          if(response.ok) {
            return response.json();
          }
          throw new Error(response.status + ' ' + response.statusText);
        })
        .then(function(response_json) {
          console.log(response_json);
          document.getElementById("result").innerHTML = JSON.stringify(response_json);
        })
        .catch(function(error) {
          console.log(error);
          document.getElementById("result").innerHTML = error.message;
        });
    }
  </script>
{% endblock %}
